header {
  display: flex;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin: 50px 0px;
}


#navbar {
  width: 100%;
  /*position: fixed;*/
  /*z-index: 1;
  top: 0;*/
}

#navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  list-style-type: none;
  background-color: grey;
}

#navbar ul li {
  display: inline-flex;
  font-size: 1.5em;
  margin: 0 20px;
}

#main-heading {
  font-size: 4em;
  text-align: center;
  background-color: orange;
  padding: 2em;
}

#main-heading-title {
  font-size: 1em;
}

#main-heading-description {
  font-size: 0.5em;
}

#about h2 {
  text-align: center;
}

#about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-content {
  text-align: center;
}

#team {
  display: flex;
  display: row;
}

#team h1 {
  text-align: center;
}

#contact-form-heading {
  text-align: center;
}

#team-title {
  text-align: center;
}

#team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-member figure img {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.team-member {
  text-align: center;
}

#contact-form {
  display: block;
  text-align: center;
}

#about, #team-section, #contact-form {
  margin-top: 100px;
}




/*@media screen and (max-width: 399px) {
  #team-container {
    flex-direction: column;
  }
}*/

@media screen and (min-width: 400px) {
  #team-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 600px) {

  #team-container {
    flex-direction: row;
  }

  .team-member figure img {
    width: 60%;
    height: 60%;
  }


}
